body {
    background-image: url("../images/ex-bg1.png");
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    height: 90vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* colors */
/* cyan: #00FFFF */
/* pink: #FF007F */

.grid-conatiner {
    display: grid;
    grid-template-rows: auto minmax(60%, 1fr);
    width: 100vw;
    height: 100vh;
    /* padding: 20px 20px 20px 20px; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid #ba1c2b;
    border-radius: 0 30px 0 30px;
    padding-right: 20px;
    margin: 20px 20px;
    /* box-shadow: 0 0 10px #00FFFF; */
}

.navbar>img {
    height: 60px;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #ff0000;
    text-shadow: 0 0 5px #ff4040;
}

.hero {
    /* box-shadow: 0 0px 40px 0 rgba(59, 193, 255, 0.67); */
    display: grid;
    margin: 20px 20px;
    height: 80vh;
    grid-template-columns: minmax(20%, 1fr) minmax(60%, 2fr);
    gap: 10px;
}

.hero img {
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
}

.left-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px 20px 0;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid #ba1c2b;
    border-radius: 30px 0 30px 0;
}

.right-card {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 20px 0;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid #ba1c2b;
    border-radius: 0 0 30px 30px;
}

.hero h2 {
    font-size: 50px;
    padding: 0;
    font-family: "Exo 2", serif;
    color: white;
    margin: 15px 0;
}

.hero p {
    margin: 0;
    color: white;
    font-size: 15px;
}

.webdev {
    color: #f01228;
}

/* TODO: make it mobile responsive */
@media (max-width: 1270px) {

    .grid-conatiner {
        display: flex;
        flex-direction: column;
        width: clamp(50vw, 70vw, 100vw);
        height: 100vh;
        /* padding: 20px 20px 20px 20px; */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border: 1px solid #ba1c2b;
        border-radius: 0 30px 0 30px;
        padding-right: 20px;
        margin: 20px 20px;
        /* box-shadow: 0 0 10px #00FFFF; */
    }

    .hero {
        display: flex;
        margin: 20px 20px;
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border: 1px solid #ba1c2b;
        border-radius: 30px 0 30px 0;
        width: 80vw;
        padding-bottom: 20px;
    }

    .right-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border: 1px solid #ba1c2b;
        border-radius: 30px 0 30px 0;
        width: 80vw;
        padding-bottom: 20px;
    }
}